body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0.5;
    background-color: #f9fafa;
    line-height: 1.5;
}

#home {
    text-align: justify; 
}

header {
    background-color: #4caf50;
    color: #fff;
    padding: 0.1em 0.5em;
    text-align: center;
}

nav {
    background-color: #4caf50;
    padding: 0.5em;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.5em;
    margin: 0 0.1em;
}

section {
    padding: 0.5em;
}

.project {
    margin-bottom: 1em;
    overflow: hidden;
}

.project img {
    float: left;
    margin-right: 1em;
    max-width: 300px;
    max-height: auto;
}

.project p {
    overflow: hidden;
    text-align: justify; 
    margin-bottom: 0.5em;
}

footer {
    background-color: #4caf50;
    color: #fff;
    text-align: center;
    padding: 0.5em; 
    position: fixed;
    bottom: 0;
    width: 100%;
}
